<template>
  <div id="main">
    <p>/*Template*/</p>
    <!-- template - вспомагательный тег, не отображается в доме -->
    <template v-if="true">
        <div>вывод продуктов</div>
    </template>
    <template v-else>
        <div>Сорян ничего не найдено</div>
    </template>



<!--  ----------------------------------------------------------------------  -->

    <!--  Во Vue передача данных является односторонней. От родителя к ребенку, назад данные не передаются. -->
    <!-- Только при помощи события можно отправить родителю данные. -->

    <p>/*Прослушивание событий в дочерных компонентах и обмен данными*/</p>
    <!-- при указании стандартніх атрибутов тега, Vue накладівает их на корневой єлемент компонента  -->
    <!--  все атрибуті перезіписіваются кроме style и class, они сливаются  -->
    <btn @customEvent="clickHandler"></btn>
    <!--  <btn @click="clickHandler"></btn>-->
    <br><br>

<!--  ----------------------------------------------------------------------  -->

    <p>/*  Работа с формами  */</p>
    <span style="color:red">{{ `${formData.name} ${formData.email}` }}</span>
    <br>
    <input type="text" v-model="formData.name" placeholder="name">
    <br>
    <my-input v-model="formData.email" label="Your E-mail" type="email" placeholder="email"></my-input>
    <br><br><br>

<!--  ----------------------------------------------------------------------  -->

    <p>/*Динамическая смена компонентов и кеширование компонентов*/</p>
    <btn v-for="(tab, i) in tabs" :key="i" @customEvent="curTab = tab">{{ tab }}</btn>
    <!--  keep-alive - когда vue отрендерит компонент, -->
    <!--  keep-alive его закеширует, что бы не тратить ресурс на следующую отрисовку  -->
    <keep-alive>
      <!--   тег component с привязкой отребута is дает возможность динамического использования компонентов   -->
      <component :is="curTab"></component>
    </keep-alive>
    <br><br><br>

<!--  ----------------------------------------------------------------------  -->

    <p>/* Слоты */</p>
    <wrap>
      <!-- слот не имеет доступа к области видимости копонента (wrap) -->
      <template v-slot:header>
        <h1>Это шапка сайта</h1>
      </template>
      <template v-slot:content="slotProps">
        <h2>Здесь будет какойто текст и картинки</h2>
        <span>{{ slotProps.add.name }}</span>
        <br>
        <span>{{ slotProps.add.email }}</span>
      </template>
      <!--   директива v-slot - сокращенная версия (как css селектор) решотка + имя слота   -->
      <template #footer="slotProps">
        <h3>Сююда добавим контакты, соцсети и меню</h3>
        <span>{{ slotProps.add.name }}</span>
        <br>
        <span>{{ slotProps.add.email }}</span>
      </template>
      <!--   контент для дефолтного слота   -->
      контент - default
    </wrap>


<!--  c/h work  -->
<!--  формы - регистрации и входа  -->
<!--
      (Использовать:
        - component v-bind:is
        - keep-alive
        - двусторонню привязку данных(v-model))

      - создать блок с табами, в каждом табе по форме
      - при нажатии на кнопку регистрация/вход - скрывать форму и выводить сообщение

-->
<!--  создать 'todo-list'  -->
<!--
      (Использовать:
       - двусторонню привязку данных(v-model)
       - прослушку дочерных компонентов(@customEventParamName="handler")
       - слот(ы))

      - создать компонент враппер
      - поле для ввода текста, при нажатии на Enter (или добавить кнопка)
        * - добавить дополнительные поля для создания элемента списка (напримерь - имя создателя)
      создается новый элемент списка
      - выводить список элементов. К каждопу элементу добавить кнопку удаления элемента
      * - создать кнопку(и) переключения темы (черная/белая)

-->


  </div>

</template>

<script>
  /* Глобальное подключение компонентов
  * import Vue from 'vue'
  * Vue.component
  * */

  /*Локальное подключение компонентов*/
  import Wrap from './components/Wrapper'
  import Btn from './components/Btn'
  import MyInput from './components/MyInput'
  import TabFirst from './components/TabFirst'
  import TabSec from './components/TabSec'
  /*Асинхронные компоненты*/
  //заметно при использовании в связи с component :is
  // const TabFirst = () => import('./components/TabFirst')
  // const TabSec = () => import('./components/TabSec')


export default {
  name: 'app',
  /*При локальном подключении компонентов нужно зарегестрировать в компоненте родителя*/
  components: {
    Wrap, Btn, MyInput, TabFirst, TabSec
  },
  data() {
    return {
      formData: {
        name: '',
        email: ''
      },
      tabs: ['TabFirst', 'TabSec'],
      curTab: 'tab-first'
    }
  },
  methods: {
    clickHandler(str) {
      console.log(str)
    },
    test() {
      console.log('ok')
    }
  }
}
</script>

<style lang="sass">
  #main
    padding: 10px
  p
    color: red
    font-weight: bold
</style>
