<template>
    <div>Tab - 1</div>
</template>

<script>
    export default {
        name: "TabFirst"
    }
</script>

<style scoped lang="sass">
    div
        padding: 15px
        border: 1px solid #000
</style>