<template>
<!-- если компонент состоит больше чем с одного элемента(тега),
тогда у всех элементов должен быть один родительський элемент(рут тег) -->
  <div class="container"><!-- root element -->
    <header>
      <slot name="header">
<!-- контент по умолчанию. Если в слот ничего не передано, выведетса контент по умолчанию.
Здесь доступен контекст самого компонента-->
        <h1>default content for HEADER</h1>
      </slot>
    </header>
    <main>
      <slot name="content" :add="additional">
<!-- контент по умолчанию. Если в слот ничего не передано, выведетса контент по умолчанию.
Здесь доступен контекст самого компонента-->
        <h2>default content for MIDDLE</h2>
      </slot>
    </main>
    <footer>
      <slot name="footer" :add="additional">
<!-- контент по умолчанию. Если в слот ничего не передано, выведетса контент по умолчанию.
Здесь доступен контекст самого компонента-->
        <h3>default content for FOOTER</h3>
      </slot>
    </footer>
    <slot>
<!-- контент по умолчанию. Если в слот ничего не передано, выведетса контент по умолчанию.
Здесь доступен контекст самого компонента-->
      <span>default content</span>
    </slot>
  </div><!-- end root element -->
</template>

<script>
  export default {
    name: "Wrapper",
    data() {
      return {
        additional: {
          name: 'Sasha',
          email: 'sasha@gmail.com'
        }
      }
    }
  }
</script>

<style lang="sass">
  header, main, footer
    border: 1px solid gray
</style>