<template>
  <label>
    <span>{{ label }}</span>
    <br>
    <input :type="type" :placeholder="placeholder" :value="value" @input="$emit('input', $event.target.value)">
  </label>

</template>

<script>
  export default {
    name: "MyInput",
    props: {
      label: {
        type: String,
        default: 'type something'
      },
      type: String,
      placeholder: String,
      value: String
    }
  }
</script>

<style lang="sass">

</style>